Source: plasma-bigscreen
Section: kde
Priority: optional
Build-Depends: debhelper-compat (= 13),
               cmake,
               extra-cmake-modules [trixtie-backports],
               qt6-base-dev,
               libkf6plasma-dev [trixie-backports],
               libplasma6-dev [trixie-backports],
               plasma-nano-dev [trixie-backports],
               kirigami2-dev,
               # siehe https://packages.debian.org/trixie-backports/plasma-bigscreen [web:51]
Standards-Version: 4.7.0
